:root {
    --primary-color: #374E5C;
    --secondary-color: #dddddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 90vw;
    max-width: 1092px;
    margin: 50px auto;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 32px;
}

.input-group {
    display: flex;
}

input[type="text"] {
    border: 1px solid var(--primary-color);
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 6px 0 0 6px;
    width: 100%;
}

input[type="button"] {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 27px;
    border: none;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}

input[type="button"]:hover {
    background-color: #6d818d;
}

input[type="text"]:focus, input[type="button"]:focus {
    outline: none;
}

ul#estudantes {
    margin: 32px auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

ul#estudantes > li {
    margin-bottom: 50px;
    border: 1px solid var(--primary-color);
    position: relative;
    border-radius: 6px;
    padding: 8px
}

ul#estudantes > li h2 {
    font-size: 1.1rem;
    background-color: var(--secondary-color);
    padding: 4px 12px;
    border-radius: 6px;
    margin-bottom: 12px;
}


ul#estudantes ol {
    list-style: none;
    height: 180px;
    overflow-y: auto;
}

ul#estudantes ol li {
    margin-bottom: 12px;
    font-size: .9rem;
    color: var(--primary-color);
}

ul#estudantes ol li input[type="checkbox"]:checked + span{
    color: #999;
}

ul#estudantes ol li span {
    margin-left: 4px;
}

.input-group.task {
    position: absolute;
    bottom: -48px;
    left: 0;
    right: 0;
    width: 100%;
}

@media only screen and (max-width: 418px) {
    body {
        background-color: pink;
    }

    ul#estudantes {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    ul#estudantes {
        grid-template-columns: repeat(2, 1fr);
    }
}
